<template>
    <div class="alert alert-primary" role="alert">
        <slot>Loading..</slot>
    </div>
</template>

<script>
export default {
    name: "MessageSlot"
}
</script>

<style scoped>

</style>