<template>
    <div class="container py-4">
        <div class="col-12 text-center">
            <h4>Rick and Morty characters</h4>
        </div>
        <MessageSlot v-if="!loaded">Loading character list..</MessageSlot>
        <router-view></router-view>
    </div>
</template>
<script>
import axios from "axios";
import { useFetch } from '../fetch.js'
import MessageSlot from "./slots/MessageSlot.vue";

export default {
    components: {MessageSlot},
    data() {
        return {
            loaded: false,
        };
    },
    methods: {
        async getCharacters(page) {
            const { data, error } = await useFetch('http://localhost:8081/api/tv-show/rick-and-morty/characters');
            this.loaded = true;
            this.$store.commit('setRickAndMortyCharacters', data.data);
        },
    },
    mounted() {
        this.getCharacters(1);
    },
}
</script>