<template>
    <div class="d-inline-block" id="list-container">
        <div class="col-12 mt-4">
            <div class="row">
                <div class="col-4 mt-4" v-for="(item, i) in characters">
                    <Character :character="item" :key="i"></Character>
                </div>
                <div class="col-12 load-more text-center" v-show="characters.length > 0 && showEndOfResults">
                    Loading...
                    <p class="virtual"></p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import Character from "./Character.vue";
import {useFetch} from "../fetch";
export default {
    components: {Character},
    data() {
        return {
            page: 1,
            showEndOfResults: true,
        }
    },
    methods: {
        async getCharacters(page) {
            const { data, error } = await useFetch(`http://localhost:8081/api/tv-show/rick-and-morty/characters?page=${page}`);

            if (data.data) {
                this.$store.commit('addRickAndMortyCharacters', data.data);
            }
            if (data.error && data.code === 404) {
                this.showEndOfResults = false;
            }
        },
    },
    mounted() {
        const observer = new IntersectionObserver(entries => {
            if (entries[0].isIntersecting && this.characters.length > 0) {
                this.page++
                this.getCharacters(this.page)
            }
        });

        observer.observe(document.querySelector('.load-more'));
    },
    computed: {
        characters () {
            return this.$store.state.rickAndMorty.characters;
        }
    },
}
</script>
<style>
.virtual {
    position: absolute;
    height: 500px;
    top: -500px;
    width: 100%;
    pointer-event: none;
}
</style>