<template>
    <div class="card mb-3">
        <img :src="character.image" class="card-img-top" :alt="character.name">
        <div class="card-body">
            <h5 class="card-title">{{ character.name }} <span class="badge text-bg-light mr-4">{{ character.status }}</span></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-primary btn-block" v-on:click="openCharacter">Open</button>
        </div>
    </div>
</template>
<script>
export default {
    props: ['character'],
    methods: {
        openCharacter() {
            this.$router.push({
                name: 'character',
                params: {
                    id: this.character.id
                }
            });
        }
    },
}
</script>