<template>
    <div class="col-6 offset-3" v-if="character">
        <div class="card mb-3">
            <img :src="character.image" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ character.name }} <span class="badge text-bg-light mr-4">{{ character.status }}</span></h5>
                <p class="card-text">Species: {{ character.species }}, Gender: {{ character.gender }}, Origin: {{ character.origin.name }}</p>
                <button class="btn btn-primary btn-block" v-on:click="goBack">Back</button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: "CharacterItem",
    methods: {
        goBack() {
            this.$router.push({
                name: 'home'
            });
        }
    },
    mounted() {
        console.log(this.$route.params.id);
    },
    computed: {
        character () {
            return this.$store.getters.getCharacterById(parseInt(this.$route.params.id));
        }
    }
}
</script>

<style scoped>

</style>